* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: lato, arial, sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-image: url("alps-altitude-bird-s-eye-view-2013658.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.navbar {
   display: flex;
   color: white;
   width: 100%;
}
.logo {
    font-size: 25px;
    width: 50%;
    margin: 10px;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar li {
    margin: 10px;
}
.snow {
    color: white;
}
.mount {
    color: #9BC0FF;
}
.say-hello {
    color: #3693D6;
    background-color: white;
    border-radius: 20px;
    padding: 4px 6px 4px 6px;
}

.big_text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;

}

.wonderful_world {    
    background-image: url("Wonderful World.png");
    height: 197px;
    width: 400px;
    background-size: cover;
    background-position: center;
    margin-bottom: 70px;
}

.our_work {
    background-image: url("Our Work.svg");
    background-repeat: no-repeat;
    height: 20px;
    width: 70px;
    background-size: cover;
    background-position: center;
}
.about_me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3693D6;
    height: 185px;
    color: white;
    padding-top: 10px;
    font-size: 13px;
}

.about_me_words {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66%;
    padding-top: 2px;
    font-size: 15px;
   
}

h2 {
    color: #3693D6;
    text-align: center;
    color: white;
}


p {
    color: white;
    text-align: center;
}

.blue {
    color: #3693D6;
}

.work {
    font-size: 17px;
    padding: 26px;
    font-weight: bold;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 500px;
    width: 86%;
    grid-gap: 6px;
   
}

.grid_images {
    
     background-size: cover;
     align-items: center;
}
.house {
    grid-row: 1;
    grid-column: 1;
    background-image: url("house .png");
}

.dog {
    grid-row: 1;
    grid-column: 2 / span 2;
    background-image: url("dog.png")

}

.ski {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    background-image: url("ski.png");
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;

}
.see-more {
    border: 2px solid white;
    padding: 2px 12px 2px 12px;
    border-radius: 20px;

}

.hiker {
    grid-row: 2;
    grid-column: 3;
    background-image: url("hiker.png");
}

.cross {
    grid-row: 3;
    grid-column: 3;
    background-image: url("cross.png");
}

.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding-top: 19px;
}

.testi {
    font-size: 18px;
   
}

.girl {
   display: flex;
   flex-direction: column;
   background-image: url("Mask Group 1.png");
   height: 89px;
   width: 38%;
   background-size: cover;
}
.girl_text {
    display: flex;
    flex-direction: column;
    font-size: 10px;
    line-height: 17px;

}

footer {
    display: flex;
    flex-direction: row;
    height: 150px;
    background-color: #3693D6;
    width: 100%;


}
.snow_mount {
    font-size: 20px;
    color: white;
   
}
.bottom-list {
    display: flex;
    width: 100%;
}

.bottom-list ul {
    display: flex;
    list-style: none;
}
.bottom-list li {
    margin: 10px;
}


/* .location {
}

.email {

}
.phone {

} */