* {
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: lato, arial, sans-serif;
    transition: all 1s;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 536px;
    background-image: url("alps-altitude-bird-s-eye-view-2013658.png");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
}
.navbar {
   display: flex;
   color: white;
   width: 100%;
}
.top-logo img {
    width: 40%;
}
.top-logo {
    display: flex;
    margin: 15px -58px 42px 12px;
}
.logo {
    font-size: 25px;
    width: 50%;
    margin: 12px 7px 0 8px;
}
.navbar ul {
    display: flex;
    list-style: none;
}
.navbar li {
    margin: 10px;
}
.snow {
    color: white;
}
.mount {
    color: #9BC0FF;
}
.say-hello {
    color: #3693D6;
    background-color: white;
    border-radius: 20px;
    padding: 7px 16px 7px 16px;
}

.big-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 454px;
}
.wonderful-world {    
    background-image: url("Wonderful World.png");
    height: 197px;
    width: 400px;
    background-size: cover;
    background-position: center;
    margin-bottom: 70px;
}
.our-work {
    background-image: url("Our Work.svg");
    background-repeat: no-repeat;
    height: 33px;
    width: 119px;
    background-size: cover;
    background-position: center;
}
.about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3693D6;
    height: 290px;
    color: white;
    padding-top: 10px;
    font-size: 13px;
}
.about-me-words {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 66%;
    padding-top: 11px;
    font-size: 22px;
   
}
h2 {
    color: #3693D6;
    text-align: center;
    color: white;
}
p {
    color: white;
    text-align: center;
}
.blue {
    color: #3693D6;
}
.work {
    font-size: 22px;
    padding: 52px;
    font-weight: bold;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;

}
.grid {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    height: 762px;
    width: 86%;
    grid-gap: 6px;
   
}
.grid-images {
    
     background-size: cover;
     align-items: center;
}
.house {
    grid-row: 1;
    grid-column: 1;
    background-image: url("house .png");
}
.dog {
    grid-row: 1;
    grid-column: 2 / span 2;
    background-image: url("dog.png")

}
.ski {
    grid-row: 2 / span 2;
    grid-column: 1 / span 2;
    background-image: url("ski.png");
    line-height: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    color: white;
}
.see-more {
    border: 2px solid white;
   border-radius: 100px;
   padding: 1px 30px 1px 30px;
}
.hiker {
    grid-row: 2;
    grid-column: 3;
    background-image: url("hiker.png");
}
.cross {
    grid-row: 3;
    grid-column: 3;
    background-image: url("cross.png");
}
.test {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
    padding-top: 38px;
}
.testi {
    font-size: 25px;
   
}
.girl {
   display: flex;
   flex-direction: column;
   background-image: url("Mask Group 1.png");
   height: 132px;
   width: 39%;
   background-size: cover;
}
.caro {
    font-size: 22px;
}
.girl-text {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    line-height: 31px;
width: 121%;
margin-top: -76px;
}
.test img {
    width: 7%;
}
.q-1 {
display: flex;
margin: 10px 447px 26px 20px;
}
.q-2 {
display: flex;
margin: -34px -386px 20px 20px;
}
.arrow img {
    width: 50%;

}
.arrow {
    display: flex;
    margin: -71px -224px 20px 307px;
}
.dots img {
    
    display: flex;
    margin: -40px 0 56px 0;
}
footer {
    display: flex;
    height: 232px;
    background-color: #3693D6;
    width: 100%;
    padding: 17px;
    background: cover;
}
.icon img {
    width: 90%;
}
.snow-mount {
    font-size: 20px;
    color: white;
    margin-top: 92px;
   margin-left: -111px;
}
.bottom-list {
    display: flex;
    width: 100%;
    color: white;
    font-size: 11px;
}
.bottom-list ul {
    display: flex;
    list-style: none;
}
.bottom-list li {
    margin: 19px;
}
.socials {
   display: flex;
   width: 60%;
   margin: -44px -52px 26px 26px;
}
.socials img {
    width: 34%;
}

.icon {
    margin: 50px 5px 30px 80px;
}

@media (max-width: 898px) {
    .say-hello {
      background: none;
    color: white;
    padding: 0;
    }
    .girl {
        width: 32%;
        height: 100px;
    }
}
@media (max-width: 830px) {
.navbar ul {
    font-size: 14px;
}
.girl {
    width: 20%;
    height: 58px;
}

}
@media (max-width: 784px) {
   .girl {
        width: 0;
        height: 0;
    }
    .grid {
        height: 800px;
        width: 80%;
        
    }
    .grid_images {
        font-size: 20px;
    }
    .see-more {
        border: none;
    }
}
@media (max-width: 650px) {
    .navbar ul {
        font-size: 10px;
        padding-right: 12px;
    }
    .socials {
       margin: 162px -52px 26px -53px; 
    }
    .grid_images {
        font-size: 10px;
    }
    
}
@media (max-width: 530px) {
    .top-logo {
        padding-left: 12px;
    }
    .snow_mount {
        padding-left: 12px;
    }
    .icon img {
        height: 0px;
    }
}
@media (max-width: 500px) {
    .top-logo img {
        width: 20%;
    }
    .about_me_words {
        font-size: 15px;
    }
}
@media (max-width: 430px) {
    .top-logo img {
        width: 0%;
    }
    .grid {
        height: 300px;
        width: 50%;
    }
    .grid_images {
        font-size: 5px;
        line-height: 9px;
    }
    .bottom-list {
        font-size: 8px;
    }
    .bottom-list ul {
        margin: 0;
        padding: 0;
    }
   
}